html {
    height: auto;
}
section {
    height: 100vh;
    align-items: center;

}

div {
    
    border: 20px solid black;
    padding: 0px;
    margin: 0px;
    height: 100%; 
    width: 100%;
    box-sizing: border-box;
    

    &#__one {
        border: 20px solid black;
    }
}

button{
    border-radius: 50px;
    border: none;
    padding: 10px;
    width: 160px;
    color: white;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: larger;
    background-image: linear-gradient(to right, hsl(260deg 23% 9%), hsl(237deg 25% 19%), hsl(236deg 24% 32%));
}

button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 150px;
    padding: 7px;
    margin: 5px;
}